@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abel', sans-serif;
}

/* Contenedor global de grid */

.container-principal{
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:0.1fr 1.2fr 1.2fr 0.1fr;
    
    grid-template-areas: 
    "header header header header"
    "main main main main"
    "main main main main"
    "footer footer footer footer";
}

/* Header */

.header{
    grid-area: header;
    background-color: #19282F;
}

/* Menu de navegación */

.container-fluid img{
    width: 5vh;
}

.navbar-nav .nav-item a{
    color: #D3ECA7;
    font-size: 1rem;
}

/* Main */

main{
    background-color: #19282F;
    grid-area: main;
}

/* Contenedor 1 del main */

.index-container-1{
    background-image: linear-gradient(rgba(5,7,12,0.85),rgba(5,7,12,0.85)),url(../img/fondo-poke.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.item-carrusel {
    background-image: linear-gradient(rgba(5,7,12,0.85),rgba(5,7,12,0.85)),url(../img/fondo-poke2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-title{
    color: #588C73;
    font-size: 1.8rem;
}

.card-text{
    color: #D3ECA7;
    font-size: 1.2rem;
}

.tarjeta-pokemon{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.tarjeta-pokemon img{
    width: 10rem;
    height: 12rem;
    border-radius: 1.2rem;
}

.tarjeta-pokemon-info h2{
    color: #D3ECA7;
}

.tarjeta-pokemon-info p{
    color: #bbd390;
}

#tarjeta-carrusel-1 span{
    color: #F0A500;
}

#tarjeta-carrusel-2 span{
    color: #FF4C29;
}

#tarjeta-carrusel-3 span{
    color: #00ADB5;
}

#tarjeta-carrusel-4 span{
    color: #5BB318;
}

.flechas-carrusel{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
}

.flechas-carrusel a{
    text-decoration: none;
}

.flechas-carrusel i{
    color: rgb(222, 217, 217);
    transition: 0.5s;
    padding: 20px;
}

.flechas-carrusel i:hover{
    color: #D3ECA7;
}

/* Contenedor 2 del main */

.index-container-2{
    background: -webkit-radial-gradient(#0D0718,#19282F);
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.index-container-item{
    background-color: #19282F;
    box-shadow: 3px 3px 38px 3px rgba(0,0,0,0.75);
    width: 80%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    max-width: 350px;
}

.index-container-2 .index-container-item img{
    display: none;
}

.index-container-2 .index-container-item h3{
    color: #D3ECA7;
    font-size: 1.2rem;
}

.index-container-2 .index-container-item p{
    width: 95%;
    font-size: 1.05rem;
    color: #D3ECA7;
}

#container-item-3{
    display: none;
}

/* Footer */

.footer {
    background-color: #19282F; /* Color del contenedor del footer*/
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.footer i{
    font-size: 20px;
    padding: 10px 10px;
    color: #D3ECA7; /* Color de los iconos del footer*/
}

.footer .container-copy p{
    color:#588C73; /* Color del parrafo del footer*/
}

/* Página Pokémon */


.poke-container-1{
    width: 100%;
    height:50%;
}

.poke-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.poke-container-1 .poke-info h1{
    padding-top: 15px;
    color: #D3ECA7;
    font-size: 1.3rem;
}

.poke-container-1 .poke-info p{
    color: #D3ECA7;
    font-size: 1.05rem;
    max-width: 95%;
    overflow: hidden;
      
}

.card{
    border-radius: 0px 0px 0px 0px;
    background-image: linear-gradient(rgba(5,7,12,0.85),rgba(5,7,12,0.85)),
    url(../img/fondo-poke2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.card-img{
    display: none;
}

.poke-container-2{
    width: 100%;
    height: 50%;
    background: -webkit-radial-gradient(#0D0718,#1b2a30);
    overflow: hidden;
}

.poke-item-carrusel {
    background: -webkit-radial-gradient(#0D0718,#1b2a30);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.poke-tarjeta-pokemon{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.poke-tarjeta-pokemon img{
    width: 10rem;
    height: 12rem;
    border-radius: 1.2rem;
}

.poke-flechas-carrusel{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
}

.poke-flechas-carrusel a{
    text-decoration: none;
}

.poke-flechas-carrusel i{
    color: rgb(222, 217, 217);
    transition: 0.5s;
    padding: 20px;
}

.poke-flechas-carrusel i:hover{
    color: #D3ECA7;
}

.item-info .type-types{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: #19282F;
}

.item-type .item-title{
    color: #19282F;   
}

.item-info .type-types span{
    background-color: #19282F;
    color: #FFEBB7;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 25px;
    border-radius: 10px;
}

#poke-tarjeta-name-1{
    color: #F0A500;
}

#poke-tarjeta-name-2{
    color: #FF4C29;
}

#poke-tarjeta-name-3{
    color: #5BB318;
}

#poke-tarjeta-name-4{
    color: #00ADB5;
}

.poke-tarjeta-pokemon h2{
    font-size: 1.2rem;
    text-transform: uppercase;
    border-left: #FFEBB7;
    text-decoration-line: underline;
}

.poke-tarjeta-pokemon h3{
    color: #D3ECA7; 
    font-size: 1rem;  
}

.poke-tarjeta-pokemon span{
    color: #FFEBB7;
}

.poke-item-info .type-types{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: #19282F;
}

/* Página juegos */

.juegos-container-1{
    background: -webkit-radial-gradient(#0D0718,#19282F);
    overflow-y:hidden;
    width: 100%;
    height: 1000px;
}

.container-items-1{
    background-color: #588C73;
    width: 300px;
    height: 625px;
    position: relative;
    left: 300px;
    top: 240px;
    border-radius: 20px;
}

.container-items-2{
    background-color: #588C73; 
    width: 300px;
    height: 625px;
    position: relative;
    left: 650px;
    bottom: 385px;
    border-radius: 20px;
}

.container-items-3{
    background-color: #588C73;    
    width: 300px;
    height: 625px;
    position: relative;
    left: 1000px;
    bottom: 1010px;
    border-radius: 20px;
}

.container-items-4{
    background-color: #588C73;    
    width: 300px;
    height: 625px;
    position: relative;
    left: 1350px;
    bottom: 1635px;
    border-radius: 20px;
}

.juegos-container-1 img{
    width: 300px;
    height: 300px;
}

.juegos-container-1 h2{
    padding-left: 60px;
    color: #D3ECA7;
}

.juegos-container-1 p{
    color: #D3ECA7;
    width: 300px;
}

/* Página Videos */

.videos-container-1{
    width: 100%;
    height: 550px;
    background-image: linear-gradient(rgba(5,7,12,0.85),rgba(5,7,12,0.85)),
    url(../img/fondo-poke2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-size: cover;
    overflow-y:hidden;
}

.videos-info{
    padding-top: 260px;
    padding-left: 500px;
}

.videos-info h2{
    padding-left: 350px;
    padding-bottom: 30px;
    color: #D3ECA7;
}

.videos-info p{
    width: 70%;
    font-size: 18px;
    color: #D3ECA7;
}

.videos-container-2{
    background: -webkit-radial-gradient(#0D0718,#19282F);
    height: 500px;
    overflow-y:hidden;
}

.videos-container-2 h3{
    padding-left: 160px;
}

.videos-item-1{
    background-color: #588C73;
    width: 500px;
    height: 335px;
    overflow-y:hidden;
    position: relative;
    left: 200px;
    top: 75px;
    border-radius: 20px;
}

.videos-item-2{
    background-color: #588C73;
    overflow-y:hidden;
    height: 335px;
    width: 500px;
    position: relative;
    left: 750px;
    bottom: 260px;
    border-radius: 20px;
}

.videos-item-3{
    background-color: #588C73;
    overflow-y:hidden;
    height: 335px;
    width: 500px;
    position: relative;
    left:1300px;
    bottom: 595px;
    border-radius: 20px;
}

.videos-container-2 h3{
    color: #D3ECA7;
}

/* Página Contacto */

.contacto-container{
    width: 100%;
    height: 925px;
    background: -webkit-radial-gradient(#0D0718,#19282F);
}

form{
    padding-top: 260px;
    padding-left: 65px;
    position: relative;
    top: 250px;
    left: 800px;
    height: 500px;
    text-align: center;
    width: 400px;
    overflow-y:hidden;
    background-image: linear-gradient(rgba(5,7,12,0.35),rgba(5,7,12,0.35)),url(../img/fondo-poke.jpg);
    background-repeat: no-repeat;
    background-size:auto;
    border-radius: 20px;
}

form img{
    width: 100px;
    height: 100px;
    position: relative;
    bottom: 200px;
    right: 30px;
}

form h2{
    color: #D3ECA7;
    position: relative;
    right:30px;
    bottom: 140px;
}

input, textarea {
    position: relative;
    right:30px;
    bottom: 120px;
    width: 100%;
    margin-bottom: 5px;
    font-size: 18px;
}

#boton{
    background-color: #588C73;
}

#boton:hover{
    background-color: #D3ECA7;
}

@media screen and (max-width:390px){

/* Inicio */
.index-container-2 .index-container-item h3{
    font-size: 0.8rem;
}
    
.index-container-2 .index-container-item p{
    width: 95%;
    font-size: 0.8rem;
}

/* Pokémon */

.card-title{
    font-size: 1.4rem;
}

.card-text{
    font-size: 1rem;
}
    
}

/* Tablet */

@media screen and (min-width:600px){

/* Header */

.header{
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.header .header-logo{
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 0px;
}

.nav .nav-menu{
    flex-direction: row;
    align-items: center;
    padding-bottom: 0px;
    gap: 15px;
}

.nav-menu li a{
    text-decoration: none;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: #D3ECA7;
}

/* Inicio */
/* Contenedor 1 del main/index */

.index-container-1{
    background-image: linear-gradient(rgba(5,7,12,0.85),rgba(5,7,12,0.85)),url(../img/fondo-poke.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: space-evenly;  
}

.item-carrusel{
    height: 50%;
    width: 150px;
    border-radius: 10px;
    position: initial;
    background-color: #19282F;
}

.tarjeta-pokemon{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px;
}

.tarjeta-pokemon img{
    width: 100%;
    height: 10rem;
    border-radius: 10px 10px 0px 0px;
}

.flechas-carrusel{
    display: none;
}

/* Container 2 index */

.index-container-2{
    width: 100%;
    height: 50%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.index-container-item{
    width: 45%;
    height: 85%;
}
.index-container-2 .index-container-item img{
    width: 100%;
    height: 180px;
    display:block;
    border-radius: 10px 10px 0px 0px;
}

.index-container-2 .index-container-item p{
    font-size: 1.2rem;
}

/* Pokémon */

.card-title{
    padding-top: 15px;
    font-size: 1.8rem;
}

.card-text{
    font-size: 1.2rem;
    max-width: 97%;
      
}

.poke-flechas-carrusel{
    display: none;
}

/* Pokémon - container 2 */

.poke-container-2{
    overflow:visible;
    display: flex;
    align-items: center;
    justify-content: space-around; 
}

.poke-tarjeta-pokemon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px;
}

.poke-item-carrusel{
    width: 23%;
    height:98%;
    border-radius: 10px;
}

}
/* Escritorio */

@media screen and (min-width:1024px){

/* Container 1 index */

.item-carrusel{
    height: 250px;
    width: 200px;
}

.tarjeta-pokemon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    max-width: 700px;
}

.tarjeta-pokemon img{
    width: 100%;
    height: 180px;
}

/* Container 2 index */

.index-container-item{
    width: 100%;
}

#container-item-1,#container-item-2{
    max-width: 500px;   
}

#container-item-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    max-width: 500px;
}

.index-container-item{
    width: 32%;
    height: 80%;
}

.index-container-2 .index-container-item img{
    width: 100%;
    height: 60%;

}

/* Pokémon */

.poke-item-carrusel{
    width: 20%;
    height:75%;
}

.poke-tarjeta-pokemon{
    flex-direction: row;
}

}