@charset "UTF-8";
/* Página home */
.welcome-section {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0 0 40px; }
  @media screen and (min-width: 600px) {
    .welcome-section {
      flex-direction: row; } }
  .welcome-section .text-wrapper {
    flex: 1;
    padding-right: 20px; }
    .welcome-section .text-wrapper h1 {
      font-size: 36px;
      margin-bottom: 15px;
      color: #47B5FF; }
    .welcome-section .text-wrapper p {
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 40px;
      color: #DFF6FF; }
  .welcome-section .image-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; }
    .welcome-section .image-wrapper img {
      max-width: 100%;
      border-radius: 10px;
      padding-bottom: 40px; }

.card-container {
  background: #022a40;
  background: radial-gradient(circle, #022a40 0%, #07030e 100%, #020024 100%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px; }

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #06283D;
  width: 100%;
  max-width: 350px;
  margin: 5px;
  border: 1px solid #06283D;
  border-radius: 5px;
  padding: 10px; }
  @media screen and (min-width: 768px) {
    .cards {
      margin: 20px; } }
  .cards img {
    width: 100%;
    height: auto;
    margin-bottom: 10px; }
  .cards h2 {
    font-size: 24px;
    margin: 10px 0;
    color: #47B5FF; }
  .cards p {
    font-size: 16px;
    color: #DFF6FF; }
  @media screen and (min-width: 600px) {
    .cards {
      max-width: 500px; } }
  @media screen and (max-width: 900px) {
    .cards {
      max-width: 700px; } }

.container-poke {
  margin: 20px; }
  .container-poke .container-pokemons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px; }
  .container-poke .content {
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media screen and (min-width: 768px) {
      .container-poke .content {
        flex-direction: row; } }
  .container-poke .image-container {
    order: 1; }
    @media screen and (min-width: 768px) {
      .container-poke .image-container {
        order: 2;
        flex: 1;
        margin-left: 30px; } }
    .container-poke .image-container img {
      width: 100%; }
      @media screen and (min-width: 768px) {
        .container-poke .image-container img {
          width: 60%; } }
      @media (min-width: 1023px) {
        .container-poke .image-container img {
          max-width: 40%; } }
  .container-poke .text-container {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    @media screen and (min-width: 768px) {
      .container-poke .text-container {
        order: 1;
        flex: 2; } }
    .container-poke .text-container h2 {
      font-size: 24px;
      margin-bottom: 10px;
      color: #47B5FF; }
      @media screen and (min-width: 768px) {
        .container-poke .text-container h2 {
          font-size: 1.6rem; } }
    .container-poke .text-container p {
      font-size: 18px;
      color: #DFF6FF; }
      @media screen and (min-width: 768px) {
        .container-poke .text-container p {
          font-size: 1.3rem;
          max-width: 80%; } }

.container-cards-poke {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  background: #02a6ff;
  background: radial-gradient(circle, #022a40 0%, #07030e 100%, #020024 100%); }
  .container-cards-poke .card-poke {
    width: 100%;
    max-width: 300px;
    background-image: linear-gradient(rgba(5, 7, 12, 0.35), rgba(5, 7, 12, 0.35)), url(../img/fondo-pokemons.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    margin-bottom: 15px; }
    @media screen and (min-width: 768px) {
      .container-cards-poke .card-poke {
        max-width: 32%; } }
    @media (min-width: 1023px) {
      .container-cards-poke .card-poke {
        max-width: 18%; } }
    .container-cards-poke .card-poke .card-image {
      margin-bottom: 10px; }
      .container-cards-poke .card-poke .card-image img {
        max-width: 100%;
        height: auto; }
    .container-cards-poke .card-poke .card-content h2 {
      font-size: 24px;
      margin-bottom: 10px;
      color: #47B5FF; }
    .container-cards-poke .card-poke .card-content p {
      font-size: 16px;
      margin-bottom: 5px;
      color: #DFF6FF; }
      .container-cards-poke .card-poke .card-content p span {
        color: #47B5FF; }
    @media only screen and (max-width: 480px) {
      .container-cards-poke .card-poke {
        max-width: 80%; } }

.container-videos {
  margin: 20px; }
  .container-videos .container-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px; }
  .container-videos .content {
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media screen and (min-width: 768px) {
      .container-videos .content {
        flex-direction: row; } }
  .container-videos .image-container {
    order: 1; }
    @media screen and (min-width: 768px) {
      .container-videos .image-container {
        order: 2;
        flex: 1;
        margin-left: 30px; } }
    .container-videos .image-container img {
      width: 100%; }
      @media screen and (min-width: 768px) {
        .container-videos .image-container img {
          width: 60%; } }
      @media (min-width: 1023px) {
        .container-videos .image-container img {
          max-width: 40%; } }
  .container-videos .text-container {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    @media screen and (min-width: 768px) {
      .container-videos .text-container {
        order: 1;
        flex: 2; } }
    .container-videos .text-container h2 {
      font-size: 24px;
      margin-bottom: 10px;
      color: #47B5FF; }
      @media screen and (min-width: 768px) {
        .container-videos .text-container h2 {
          font-size: 1.6rem; } }
    .container-videos .text-container p {
      font-size: 18px;
      color: #DFF6FF; }
      @media screen and (min-width: 768px) {
        .container-videos .text-container p {
          font-size: 1.3rem;
          max-width: 80%; } }

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem; }
  @media screen and (min-width: 600px) {
    .card-container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center; } }

.card-video {
  background-color: #06283D;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%; }
  @media screen and (min-width: 600px) {
    .card-video {
      width: calc(50% - 2rem);
      margin: 1rem; } }
  @media (min-width: 900px) {
    .card-video {
      width: calc(33.33% - 2rem); } }
  .card-video h2 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    color: #47B5FF; }
  .card-video .iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    margin-bottom: 1rem; }
    .card-video .iframe-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

.container-contact {
  background-image: linear-gradient(rgba(5, 7, 12, 0.85), rgba(5, 7, 12, 0.85)), url(../img/fondo-poke.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

.contact {
  background-image: linear-gradient(rgba(5, 7, 12, 0.35), rgba(5, 7, 12, 0.35)), url(../img/fondo-pokemons.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #06283D;
  position: relative;
  margin-top: 50px;
  margin-bottom: 100px; }
  @media screen and (min-width: 768px) {
    .contact {
      margin-top: 30px;
      margin-bottom: 30px;
      padding: 20px; } }
  .contact h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    color: #1363DF; }
  .contact form {
    display: flex;
    flex-direction: column;
    color: #47B5FF; }
    .contact form div {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px; }
      .contact form div label {
        font-size: 1.2em;
        margin-bottom: 10px; }
      .contact form div input, .contact form div textarea {
        font-size: 1.2em;
        padding: 10px;
        border: 1px solid #DFF6FF;
        border-radius: 5px; }
        .contact form div input:focus, .contact form div textarea:focus {
          outline: none;
          border-color: #47B5FF; }
      .contact form div textarea {
        height: 100px;
        resize: vertical; }
    .contact form button[type="submit"] {
      background-color: #1363DF;
      color: #fff;
      font-size: 1.2em;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer; }
      .contact form button[type="submit"]:hover {
        background-color: #333; }
  @media screen and (min-width: 600px) {
    .contact form div label {
      font-size: 1em; }
    .contact form div input, .contact form div textarea {
      font-size: 1em;
      padding: 8px; }
    .contact form button[type="submit"] {
      font-size: 1em;
      padding: 8px 16px; } }

.container-juegos {
  margin: 20px; }
  .container-juegos .container-juegos-poke {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px; }
  .container-juegos .content {
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media screen and (min-width: 768px) {
      .container-juegos .content {
        flex-direction: row; } }
  .container-juegos .image-container {
    order: 1; }
    @media screen and (min-width: 768px) {
      .container-juegos .image-container {
        order: 2;
        flex: 1;
        margin-left: 30px; } }
    .container-juegos .image-container img {
      width: 100%; }
      @media screen and (min-width: 768px) {
        .container-juegos .image-container img {
          width: 60%; } }
      @media (min-width: 1023px) {
        .container-juegos .image-container img {
          max-width: 40%; } }
  .container-juegos .text-container {
    order: 2; }
    @media screen and (min-width: 768px) {
      .container-juegos .text-container {
        order: 1;
        flex: 2; } }
    .container-juegos .text-container h2 {
      font-size: 24px;
      margin-bottom: 10px;
      color: #47B5FF; }
      @media screen and (min-width: 768px) {
        .container-juegos .text-container h2 {
          font-size: 1.6rem; } }
    .container-juegos .text-container p {
      font-size: 18px;
      color: #DFF6FF; }
      @media screen and (min-width: 768px) {
        .container-juegos .text-container p {
          font-size: 1.3rem; } }

.section {
  padding: 20px;
  background: #02a6ff;
  background: radial-gradient(circle, #022a40 0%, #07030e 100%, #020024 100%); }
  .section .section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    border-radius: 5px; }
    .section .section-content img {
      max-width: 100%;
      height: auto;
      max-width: 300px; }
    .section .section-content .section-text {
      margin-top: 20px;
      text-align: center; }
      .section .section-content .section-text h2 {
        color: #47B5FF; }
      .section .section-content .section-text p {
        color: #DFF6FF; }
  @media screen and (min-width: 768px) {
    .section .section-content {
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      .section .section-content img {
        margin-right: 20px;
        max-width: 200px; }
      .section .section-content .section-text {
        text-align: left; } }

/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.container-principal {
  height: 100vh;
  background-image: linear-gradient(rgba(5, 7, 12, 0.85), rgba(5, 7, 12, 0.85)), url(../img/fondo-poke.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }
  .container-principal .header {
    grid-area: header;
    background-color: #06283D; }
    .container-principal .header .navbar .container-fluid {
      max-width: 80%; }
      .container-principal .header .navbar .container-fluid .navbar-nav .nav-item a {
        color: #47B5FF;
        font-size: 1.2rem; }
    .container-principal .header .navbar img {
      width: 5vh; }
  .container-principal .main {
    grid-area: main; }
  .container-principal .footer {
    grid-area: footer;
    bottom: 0;
    left: 0;
    width: 100%;
    position: relative;
    min-height: 100px;
    background-color: #06283D; }
    .container-principal .footer .footer-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px; }
      @media screen and (min-width: 768px) {
        .container-principal .footer .footer-icons {
          flex-wrap: wrap;
          gap: 10px; }
          .container-principal .footer .footer-icons a {
            margin: 10px 0; } }
      .container-principal .footer .footer-icons a {
        margin: 0 10px;
        font-size: 24px;
        color: #1363DF;
        text-decoration: none;
        transition: color 0.3s ease; }
        .container-principal .footer .footer-icons a:hover {
          color: #47B5FF; }
    .container-principal .footer .footer-text {
      text-align: center;
      color: #DFF6FF;
      font-size: 14px; }
      .container-principal .footer .footer-text .back-to-top-button {
        position: fixed;
        bottom: 45px;
        right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3.5em;
        height: 3.5em;
        background-color: #007bff;
        color: #fff;
        border-radius: 50%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        z-index: 9999; }
        .container-principal .footer .footer-text .back-to-top-button:hover {
          background-color: #0069d9; }
      .container-principal .footer .footer-text p span {
        color: #47B5FF; }
