//Importo las variables
@import "variables/vars";

/* Página home */

//Contenedor de bienvenida
.welcome-section {

    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0 0 40px;

    @include movil {
        flex-direction: row;
    }

    .text-wrapper {
        flex: 1;
        padding-right: 20px;

        h1 {
            font-size: 36px;
            margin-bottom: 15px;
            color: $third-color;
        }

        p {
            font-size: 18px;
            line-height: 1.5;
            margin-bottom: 40px;
            color: $four-color;
        }
    }

    .image-wrapper {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-width: 100%;
            border-radius: 10px;
            padding-bottom: 40px;
        }
    }
}


// Contenedor de tarjetas

.card-container {
    background: rgb(2, 42, 64);
    background: radial-gradient(circle, rgba(2, 42, 64, 1) 0%, rgba(7, 3, 14, 1) 100%, rgba(2, 0, 36, 1) 100%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $first-color;
    width: 100%;
    max-width: 350px;
    margin:5px;
    border: 1px solid $first-color;
    border-radius: 5px;
    padding: 10px;
    @include tablet {
        margin: 20px;
    }

    img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 24px;
        margin: 10px 0;
        color: $third-color;
    }

    p {
        font-size: 16px;
        color: $four-color;
    }

    @include movil {
        max-width: 500px;
    }

    @media screen and (max-width: $break-900) {
        max-width: 700px;
    }
}