//Paleta de colores

$first-color: #06283D;
$second-color: #1363DF;;
$third-color: #47B5FF;;
$four-color:#DFF6FF;

// Puntos de quiebre

$break-768: 768px;
$break-767: 767px;
$break-600: 600px;
$break-900: 900px;

//Tamaños en 1rem
$card-margin: 1rem;